THREADS_ACCESS_TOKEN=
THREADS_USER_ID=26294694156837418
THREADS_API_BASE=https://graph.threads.net/v1.0
THREADS_TIMEZONE=Europe/Rome
THREADS_QUEUE_FILE=social-hq/calendar/threads-week-01.json
THREADS_LOG_FILE=social-hq/analytics/threads-publisher.log
